#include "res.h"

MAINICON ICON "resources/icon.ico"
ATLAS RCDATA "resources/atlas.png"
IDC_CUSTOM_HOLD ICON "resources/hold.ico"
IDC_CUSTOM_DRAG ICON "resources/drag.ico"
PROMOTE_PAWN DIALOG 50, 50, 200, 150
CAPTION ""
{
CTEXT "PROMOTE PAWN TO",0,10,10,200,12
PUSHBUTTON "ROOK",2,75,20,60,12
PUSHBUTTON "QUEEN",4,75,40,60,12
PUSHBUTTON "KNIGHT",1,75,60,60,12
PUSHBUTTON "BISHOP",3,75,80,60,12
}
